<section>
<br>
    <br>
    <br><br>
    <br>


    <div class="spacer60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Our dealers</h1>
                <div class="spacer20"></div>
                <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidunt mattis. In tincidunt ante nisi. Donec non tortor lectus. Aliquam fringilla consectetur eleifend. Donec id elementum eros.</p>
            </div>
        </div>
    </div>
    <div class="spacer30"></div>
    <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-3"ng-repeat="information in info">
                <div class="team">
                    <div class="team-img">
                        <img ng-src="img/team/{{information.photo}}.jpg" alt="team-1">
                        <a href="{{information.follow}}" class="team-email"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="team-content">
                        <div class="team-name">{{information.name}}</div>
                        <div class="team-position">{{information.position}}</div>
                        <a class="btn btn-default" href="http://www.facebook.com{{information.follow}}">Follow</a>
                        <div class="team-followers">Cars Sold</div>
                        <div class="team-followers-number">{{information.Carsold}}</div>
                        <div class="team-socials">
                            <ul class="social-1">
                                <li><a href="#" rel="external" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#" rel="external" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" rel="external" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="spacer60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Our Clients</h3>
                <p>
                    Duden flows by their place and supplies it
                    with the necessary regelialia. It is a paradisem country, in which roasted parts of sentences
                    into your mouth.
                </p>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="clients">
                        <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/1.jpg" alt="client1"></a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/2.jpg" alt="client1"></a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/3.jpg" alt="client1"></a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/4.jpg" alt="client1"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="spacer60"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Testimonal</h3>
                <div class="testimonal">
                    <div class="testimonal-image">
                        <img src="img/team/1.jpg" alt="">
                    </div>
                    <div class="testimonal-text">
                        <div class="testimonal-title">Lea Holiday<span class="theme-color">Developer</span></div>
                        <p>With what mingled joy  and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone; yesterday. I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!</p>

                    </div>
                </div>
            </div>



        </div>
    </div>




    <div class="spacer60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Our stats</h3>
            </div>
        </div>
        <ul class="counter row">
            <li class="col-xs-6 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="fa fa-car"></i>
                    <div class="timer" id="item1" data-to="3991" data-speed="5000"></div>
                    <h5>Cars Sold</h5>
                </div>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="fa fa-check"></i>
                    <div class="timer" id="item2" data-to="6394" data-speed="5000"></div>
                    <h5>Projects completed</h5>
                </div>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="fa fa-coffee"></i>
                    <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>
                    <h5>Cups consumed</h5>
                </div>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="fa fa-male"></i>
                    <div class="timer" id="item4" data-to="9999" data-speed="5000"></div>
                    <h5>Happy clients</h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="spacer60"></div>


    <div id="parallax-one" class="parallax" style="background-image:url(img/parallax/1.png);">
        <div class="parallax-colored-dark">
            <div class="parallax-text-container">
                <div class="parallax-text-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="parallax-title">Parallax</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidunt mattis. In tincidunt ante nisi.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</section> <!-- section ends -->
