<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-inner">
            <!-- logo-->
            <a href="index.html" title="Home" class="logo pull-left"><img src="img/logo.png" alt="logo"></a>
            <!-- logo ends -->
            <!-- Menu -->
            <ul class="nav pull-left" id="nav">
                <li class="selected"><a href="index.html" title="">Home</a></li>
                <li>
                    <a href="catalog-right.html" title="">Catalog</a>
                    <ul>
                        <li ng-repeat="menu in menulocation"><a href="#{{menu}}">{{menu.slice(1)}}</a></li>
                       </ul>
                </li>
                <li>
                    <a href="components.html" title="">Pages</a>
                    <!-- sub menu -->
                    <ul>
                        <li><a href="components.html" title="">Components</a></li>
                        <li><a href="about-us.html" title="">About us</a></li>
                        <li><a href="services.html" title="">Services</a></li>
                        <li>
                            <a href="#" title="3rd menu">3rd menu</a>
                            <!-- sub sub menu -->
                            <ul>
                                <li><a href="#" title="item 1">Item 1</a></li>
                                <li><a href="#" title="item 2">Item 2</a></li>
                                <li class="selected"><a href="#" title="item 3">Item 3</a></li>
                            </ul>
                            <!-- sub sub menu ends -->
                        </li>
                    </ul>
                    <!-- sub menu ends -->
                </li>
                <li>
                    <a href="shop-right.html" title="">Shop</a>
                    <ul>
                        <li><a href="shop-right.html">Right sidebar</a></li>
                        <li><a href="shop-left.html">Left sidebar</a></li>
                        <li><a href="shop.html">Without sidebar</a></li>
                        <li><a href="shop-product-detail.html">Shop Product detail</a></li>
                        <li><a href="shop-cart.html">Cart</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                    </ul>
                </li>
                <li>
                    <a href="blog-right.html" title="">Blog</a>
                    <ul>
                        <li><a href="blog-right.html">Right sidebar</a></li>
                        <li><a href="blog-left.html">Left sidebar</a></li>
                        <li><a href="blog.html">Without sidebar</a></li>
                        <li><a href="blog-masonry.html">Blog masonry</a></li>
                        <li><a href="blog-detail.html">Blog detail</a></li>
                    </ul>
                </li>
                <li><a href="contact.html" title="">Contact</a></li>
            </ul>
            <!-- Menu ends -->
            <div class="menu-right-bar">
                <ul class="menu-right-bar-ul">
                    <li class="text hidden-sm hidden-xs">1-800-555-6789</li>
                    <li><a href="shop-cart.html" class="button btn btn-primary" role="button"><i class="fa fa-shopping-cart"></i> (2)</a></li>
                    <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#singInForm">Sign in</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
