<div class="tp-banner-container main-slider" ng-show="location'">

    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="img/slider-main/1.jpg" data-delay="8000" data-saveperformance="off" data-title="Our Workplace">
                <!-- MAIN IMAGE -->
                <img src="img/slider-main/1.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                <!-- LAYERS -->

                <div class="caption tp-resizeme skewfromrightshort big-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="-70"
                     data-speed="500"
                     data-start="500"
                     data-easing="easeOutExpo"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    Troy Presents
                </div>


                <div class="caption tp-resizeme lfl fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="0"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Ultra Responsive Design
                </div>
                <div class="caption tp-resizeme lfr fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="50"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="2500"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Lot of Shortcodes
                </div>
                <div class="caption tp-resizeme lfl fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="100"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="3000"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Retina Ready
                </div>
                <div class="caption tp-resizeme lfl fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="150"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="3500"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Color Styles
                </div>
                <div class="caption tp-resizeme lfr fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="200"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="4000"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Premium Support
                </div>
                <div class="caption tp-resizeme lfl fadeout small-caption"
                     data-x="center"
                     data-y="center"
                     data-voffset="250"
                     data-hoffset="0"
                     data-speed="500"
                     data-start="4500"
                     data-easing="easeOutExpot"
                     data-splitout="none">
                    Shop elements
                </div>
            </li>
            <!-- SLIDE  -->
        </ul>

    </div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').revolution(
         {
             delay: 9000,
             startwidth: 1170,
             startheight: 500,
             hideThumbs: 10
         });
    });
</script>